.navbar-collapse{
    justify-content: end;
    padding-right: 30px;
}   

.navbar-brand{
    text-align: center;
    font-size: 2em;
}
.navbar-nav{
    justify-content: space-between;
}
h2{
    padding: 40px 0;
}

.center-text{
    text-align: center;
}
