.navbar-collapse{
    padding-right: 30px;
}   

.navbar-brand{
    text-align: center;
    font-size: 2em;
}

h2{
    padding: 40px 0;
}

.center-text{
    text-align: center;
}

.card{
    height: fit-content;
    margin: 20px;
}

.center{
    margin: 3rem 7rem;
}