.navbar-collapse{
    padding-right: 30px;
}   

.navbar-brand{
    text-align: center;
    font-size: 2em;
}

h2{
    padding: 40px 0;
}

.card{
    margin: 20px;
    box-shadow: 10px 5px 5px #888888;
}
.card:hover{
    transform: scale(1.05);
}
.card-text{
    font-size: 110%;
    padding: 10px;
}

.center{
    margin: 3rem 7rem;
}

.center-div{
    width: 50%;
}

.space{
    margin: 10px ;
}
.searchBar{
    height: 100px;
}
input{
    height: fit-content;
}
i{
    color: #fff;
}
.black{
    background-color: black;
}
.games{
    height: min-content;
    border-radius: 20px;
}
.gameHeight{
    aspect-ratio: 16/9;
}

.floatRight{
    float: right;
}
.yellow{
    color: rgb(235, 235, 60);
    margin-top: 10px;
}

.info{
    color: black;
    margin-left: 10px;
}
.rating{
    margin-bottom: 10px;
}
.bigP{
    font-size: 120%;
}
.red{
    color: red;
}
.green{
    color: green
}
.orange{
    color: orange
}
.hidden{
    display: none;
}
form{
    padding-top: 30px;
    gap: 30px;
}
.boxShadow{
    box-shadow: 10px 10px 6px 10px rgb(255 255 255 / 40%);
}

.form-control, label{
    font-size: 20px;
}

#floatingComments{
    height: 100px;
}

.rating, .satisfaction {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-end;
  }
  
.rating input, .satisfaction input {
  display: none;
}
.rating label, .satisfaction i {
  font-size: 30px;
  cursor: pointer;
  color: #888888;
  margin: 10px;
}

.rating label:hover,
.rating label:hover ~ label { 
  color: orange;
}

.rating input:checked ~ label {
    color: orange;
}

  
.satisfaction input[type="radio"]:checked + label i.fa-face-grin-hearts {
  color: #008000; /* Change the color to your desired color */
}

.satisfaction input[type="radio"]:checked + label i.fa-face-smile {
  color: orange; /* Change the color to your desired color */
}

.satisfaction input[type="radio"]:checked + label i.fa-face-meh {
  color: #FFA500; /* Change the color to your desired color */
}

.satisfaction input[type="radio"]:checked + label i.fa-face-angry {
  color: #de3203; /* Change the color to your desired color */
}

.satisfaction input[type="radio"]:checked + label i.fa-face-sad-tear {
  color: #ff0000; /* Change the color to your desired color */
}


@media only screen and (min-width: 768px) {
   .label, .dropdown-item{
    font-size: 25px;
}
  }

@media (max-width: 576px) {
  .boxShadow {
    box-shadow: none;
  }
}

